*{
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    
}

header { 
    height: 25vh; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: lightskyblue;

}

nav {
    display: flex; 
    justify-content: center; 
    background-color: lightskyblue;

}

#startButton {
    padding: 15px;
    background-color: greenyellow;
}

#highScore {
    padding: 15px;
    background-color: lightskyblue;
}


#timerButton, #timerunningOut {
    padding: 15px; 
    background-color: red;
}